<h1>Insert the form to create a new instance of your model.</h1>

<form class="" action="/recipes" method="post">

<label for="title">Recipe Title:</label>
<input type="text" name="title" value="">

<label for="content">Recipe Instructions:</label>
<input type="text" name="content" value="">

<h3>Select the categories for your recipe:</h3>
<label for="breakfast">Breakfast</label>
<input type="checkbox" id="breakfast" name="category" value="breakfast">


<h3>How simple is your recipe?</h3>
<label for="simple_review">1</label>
<input type="radio" name="simple_review" value=1>
<label for="simple_review">2</label>
<input type="radio" name="simple_review" value=2>
<label for="simple_review">3</label>
<input type="radio" name="simple_review" value=3 checked>
<label for="simple_review">4</label>
<input type="radio" name="simple_review" value=4>
<label for="simple_review">5</label>
<input type="radio" name="simple_review" value=5><br><br>

<input type="submit" name="" value="Create Recipe">


</form>